<!DOCTYPE html>
<html>
<head>
	<title>Data entry form</title>
</head>
<body>
Please leave drop-downs empty when you hit submit.
<form action="{{ url_for('json_process') }}" method="GET">
	<fieldset>
		<legend>Add Entity</legend>
		<fieldset>
		<legend>Add major entity</legend>
		<div>
			Authors and works
		</div>
		<fieldset>
			<legend>Author</legend>
			<table>
				<tr>
					<td width="500px">
					</td>
					<td>
						Existing authors:
					</td>
				</tr>
				<tr>
					<td>
						Input author:<br><br><br>
						<input type="text" name="author1">
					</td>
					<td>
						<ul>
						{% for i in classAttribute if i.category == "author" %}
							<li>{{ i.label }}</li>
						{% endfor %}
						</ul>
					</td>
				</tr>
			</table>
		</fieldset>
		<fieldset>
		<legend>Work</legend>
			<table>
				<tr>
					<td width="500px">
					</td>
					<td>
						Existing works:
					</td>
				</tr>
				<tr>
					<td>
						Input work title:<br>
						<input type="text" name="work"><br><br>
						<table>
							<tr>
								<td width="250px">
									Input author from existing list:
								</td>
								<td>
									Or input new author:
								</td>
							</tr>
							<tr>
								<td>
									<select name="author2">
										<option value=""></option>
										{% for attribute in classAttribute if attribute.category=="author" %}
										<option value="{{ attribute.id }}">{{ attribute.label }}</option>
										{% endfor %}
									</select>
								</td>
								<td>
									<input type="text" name="author3"><br>
								</td>
							</tr>
						</table><br>
						<table>
							<tr>
								<td width="250px">
									Input date from existing list:
								</td>
								<td>
									Or input new date:
								</td>
							</tr>
							<tr>
								<td>
									<select name="date1">
										<option value=""></option>
										{% for attribute in classAttribute if attribute.category=="date" %}
										<option value="{{ attribute.id }}">{{ attribute.label }}</option>
										{% endfor %}
									</select>
								</td>
								<td>
									<input type="text" name="date2"><br>
								</td>
							</tr>
						</table>
					</td>
					<td>
						<ul>
						{% for i in classAttribute if i.category == "work" %}
							<li>{{ i.label }}</li>
						{% endfor %}
						</ul>
					</td>
				</tr>
			</table>
		</fieldset>
		<fieldset>
		<legend>Add minor entity</legend>
		<select name="minor_type">
			<option value=""></option>
			<option value="date">Date</option>
			<option value="concept">Concept</option>
		</select>
		<input type="text" name="minor_entity">
		</fieldset>
	<button type="submit">Submit</button>
	</fieldset>
	<fieldset>
		<legend>Add relationship</legend>
		<fieldset>
		<legend>Add relationship between existent major nodes</legend>
			Entity 1:<br>
			<select name="domain1">
					<option value=""></option>
				{% for attribute in classAttribute if attribute.type=="owl:Class" %}
					<option value="{{ attribute.id }}">{{ attribute.label }}</option>
				{% else %}
				{% endfor %}
			</select>
			<br>
			Relationship type:<br>
			<select name="attribute1">
					<option value=""></option>
				{% for attribute in majorAttributes %}
					<option value="{{ attribute.id }}">{{ attribute.label }}</option>
				{% else %}
					<option>None</option>
				{% endfor %}
			</select><br>
			Entity 2:<br>
			<select name="range1">
					<option value=""></option>
				{% for attribute in classAttribute if attribute.type=="owl:Class" %}
					<option value="{{ attribute.id }}">{{ attribute.label }}</option>
				{% endfor %}
			</select>
		</fieldset>

		<fieldset>
		<legend>Add relationship between existent major node and existent minor node</legend>
			Entity 1:<br>
			<select name="domain2">
					<option value=""></option>
				{% for attribute in classAttribute if attribute.type=="owl:Class" %}
					<option value="{{ attribute.id }}">{{ attribute.label }}</option>
				{% else %}
					<option>None</option>
				{% endfor %}
			</select>
			<br>
			Relationship type:<br>
			<select name="attribute2">
					<option value=""></option>
				{% for attribute in minorAttributes %}
					<option value="{{ attribute.id }}">{{ attribute.label }}</option>
				{% else %}
					<option>None</option>
				{% endfor %}
			</select><br>
			Entity 2:<br>
			<select name="range2">
					<option value=""></option>
				{% for attribute in classAttribute if attribute.type=="rdfs:Datatype" %}
					<option value="{{ attribute.id }}">{{ attribute.label }}</option>
				{% endfor %}
			</select>
		</fieldset>

		<fieldset>
		<legend>Add relationship between existent major node and nonexistent minor node</legend>
			Entity 1:<br>
			<select name="domain3">
					<option value=""></option>
				{% for attribute in classAttribute if attribute.type=="owl:Class" %}
					<option value="{{ attribute.id }}">{{ attribute.label }}</option>
				{% else %}
					<option>None</option>
				{% endfor %}
			</select>
			<br>
			Relationship type:<br>
			<select name="attribute3">
					<option value=""></option>
				{% for attribute in minorAttributes %}
					<option value="{{ attribute.id }}">{{ attribute.label }}</option>
				{% else %}
					<option>None</option>
				{% endfor %}
			</select><br>
			Entity 2:<br>
			<input type="text" name="range3">
		</fieldset>
		<button type="submit">Submit</button>
	</fieldset>
</form>
{{ bitch }}
</body>
</html>
