<!DOCTYPE html>
<html>
<head>
	<title>Data entry form</title>
</head>
<body>
Please leave drop-downs empty when you hit submit.
<form  method="POST">
	<fieldset>
		<legend>Add Entity</legend>
		<fieldset>
		<legend>Add major entity</legend>
		<fieldset>
			<legend>Author</legend>
			<table>
				<tr>
					<td width="500px">
					</td>
					<td>
						Existing authors:
					</td>
				</tr>
				<tr>
					<td>
						<label for="author1">Input author: </label>
						<input type="text" name="author1" id="author1"><br><br>
						<label for="date0">Input author year of birth: </label>
						<input type="text" name="date0" id="date0"><br><br>
						<label for="iri1">Input URL to Wikipedia page: </label>
						<input type="text" name="iri1" id="iri1">
					</td>
					<td>
						<ul>
						{% for i in classAttribute|sort(attribute='label') if i.category == "author" %}
							{% if i.iri is defined %}
								<li><a href="{{ i.iri }}">{{ i.label }}</a></li>
							{% else %}
								<li>{{ i.label }}</li>
							{% endif %}
						{% endfor %}
						</ul>
					</td>
				</tr>
			</table>
		</fieldset>
		<fieldset>
		<legend>Work</legend>
			<table>
				<tr>
					<td width="500px">
					</td>
					<td>
						Existing works:
					</td>
				</tr>
				<tr>
					<td>
						<table>
							<tr>
								<td width="250px">
									<label for="work">Input work title:</label><br>
									<input type="text" name="work">
								</td>
								<td>
									<label for="iri2">Input URL to PDF:</label><br>
									<input type="text" name="iri2" id="iri2">
								</td>
							</tr>	
						</table>
						<table>
							<tr>
								<td width="250px">
									Input author from existing list:
								</td>
								<td>
									Or input new author:
								</td>
							</tr>
							<tr>
								<td>
									<select name="author2">
										<option value=""></option>
										{% for attribute_x in classAttribute|sort(attribute='label') if attribute_x.category=="author" %}
										<option value="{{ attribute_x.id }}">{{ attribute_x.label }}</option>
										{% endfor %}
									</select>
								</td>
								<td>
									<input type="text" name="author3"><br>
								</td>
							</tr>
						</table><br>
						<table>
							<tr>
								<td width="250px">
									Input date from existing list:
								</td>
								<td>
									Or input new date:
								</td>
							</tr>
							<tr>
								<td>
									<select name="date1">
										<option value=""></option>
										{% for attribute_x in classAttribute|sort(attribute='label') if attribute_x.category=="date" %}
										<option value="{{ attribute_x.id }}">{{ attribute_x.label }}</option>
										{% endfor %}
									</select>
								</td>
								<td>
									<input type="text" name="date2"><br>
								</td>
							</tr>
						</table>
					</td>
					<td>
						<ul>
						{% for i in classAttribute|sort(attribute='label') if i.category == "work" %}
							{% if i.iri is defined %}
								<li><a href="{{ i.iri }}">{{ i.label }}</a></li>
							{% else %}
								<li>{{ i.label }}</li>
							{% endif %}
						{% endfor %}
						</ul>
					</td>
				</tr>
			</table>
		</fieldset>
		<fieldset>
		<legend>Add minor entity</legend>
		<table>
			<tr>
				<td width="400px">
					Input new minor entity (concept, date, place, university)
				</td>
				<td width="150px">
					Existing dates
				</td>
				<td width="150px">
					Existing concepts
				</td>
				<td>
					Existing places
				</td>
				<td>
					Existing universities
				</td>
			</tr>
			<tr>
				<td>
					<select name="minor_type">
						<option value=""></option>
						<option value="date">Date</option>
						<option value="concept">Concept</option>
						<option value="place">Place</option>
						<option value="university">Univeristy</option>
					</select>
					<input type="text" name="minor_entity">
				</td>
				<td>
					<ul>
						{% for i in classAttribute|sort(attribute='label') if i.category == "date" %}
							<li>{{ i.label }}</li>
						{% endfor %}
					</ul>
				</td>
				<td>
					<ul>
						{% for i in classAttribute|sort(attribute='label') if i.category == "concept" %}
							<li>{{ i.label }}</li>
						{% endfor %}
					</ul>
				</td>
				<td>
					<ul>
						{% for i in classAttribute|sort(attribute='label') if i.category == "place" %}
							<li>{{ i.label }}</li>
						{% endfor %}
					</ul>
				</td>
				<td>
					<ul>
						{% for i in classAttribute|sort(attribute='label') if i.category == "university" %}
							<li>{{ i.label }}</li>
						{% endfor %}
					</ul>
				</td>
			</tr>
		</table>
		</fieldset>
		<fieldset>
			<legend>Add link</legend>
			<select name="link">
				<option value=""></option>
				{% for attribute_x in classAttribute|sort(attribute='label') %}
					<option value="{{ attribute_x.id }}">{{ attribute_x.label }}</option>
				{% endfor %}
			</select>
			<input type="text" name="iri3">
		</fieldset>
	<button type="submit">Submit</button>
	</fieldset>
	<fieldset>
		<legend>Add relationship</legend>
		<fieldset>
		<legend>Add relationship between existent major nodes</legend>
			Entity 1:<br>
			<select name="domain1">
					<option value=""></option>
				{% for attribute_x in classAttribute|sort(attribute='label') if attribute_x.type=="owl:Class" or attribute_x.type=="rdfs:Class" %}
					<option value="{{ attribute_x.id }}">{{ attribute_x.label }}</option>
				{% else %}
				{% endfor %}
			</select>
			<br>
			Relationship type:<br>
			<select name="attribute1">
					<option value=""></option>
				{% for attribute_x in majorAttributes|sort(attribute='label') %}
					<option value="{{ attribute_x.id }}">{{ attribute_x.label }}</option>
				{% else %}
					<option>None</option>
				{% endfor %}
			</select><br>
			Entity 2:<br>
			<select name="range1">
					<option value=""></option>
				{% for attribute_x in classAttribute|sort(attribute='label') if attribute_x.type=="owl:Class" or attribute_x.type=="rdfs:Class" %}
					<option value="{{ attribute_x.id }}">{{ attribute_x.label }}</option>
				{% endfor %}
			</select>
		</fieldset>

		<fieldset>
		<legend>Add relationship between existent major node and existent minor node</legend>
			Entity 1:<br>
			<select name="domain2">
					<option value=""></option>
				{% for attribute_x in classAttribute|sort(attribute='label') if attribute_x.type=="owl:Class" or attribute_x.type=="rdfs:Class" %}
					<option value="{{ attribute_x.id }}">{{ attribute_x.label }}</option>
				{% else %}
					<option>None</option>
				{% endfor %}
			</select>
			<br>
			Relationship type:<br>
			<select name="attribute2">
					<option value=""></option>
				{% for attribute_x in minorAttributes|sort(attribute='label') %}
					<option value="{{ attribute_x.id }}">{{ attribute_x.label }}</option>
				{% else %}
					<option>None</option>
				{% endfor %}
			</select><br>
			<span style="display:inline-block; width: 275px;">Entity 2: </span> Or input new minor node <br>
			<span style="display:inline-block; width: 275px;"><select name="range2">
					<option value=""></option>
				{% for attribute_x in classAttribute|sort(attribute='label') if attribute_x.type=="rdfs:datatype" %}
					<option value="{{ attribute_x.id }}">{{ attribute_x.label }}</option>
				{% endfor %}
			</select></span>
			<select name="range3_type">
						<option value=""></option>
						<option value="date">Date</option>
						<option value="concept">Concept</option>
						<option value="place">Place</option>						
						<option value="university">Univeristy</option>
					</select>
					<input type="text" name="range3">
		</fieldset>
		<button type="submit">Submit</button>
	</fieldset>
</form>
</body>
</html>
